body{
	background-color: #f7eaf7;
}
.box{
   height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.line {
	margin-top: 10px;
  height: 30px;
  width: 5px;
  background-color: #000000;
  margin-bottom: 10px;
}
.line2 {
  height: 5px;
  width: 100%;
  background-color: #000000;
}

.box2{
	
	height: 50px;
	width: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    border-radius: 50%;
}